/*
Error: Invalid CSS after "...er-master.scss"": expected "{", was ";"
        on line 11 of D:/KP/2017/MOTOROLA/CHANNEL/HTML/sass/style.scss

6: 			START DATE: 15/09/2017
7: /*****************************************************************
8: ******************************************************************
9: *****************************************************************\/
10: 
11: @import "helper/_helper-master.scss";
12: @import "base/_base-master.scss";
13: @import "component/_component-master.scss";
14: @import "external/_external-master.scss";

Backtrace:
D:/KP/2017/MOTOROLA/CHANNEL/HTML/sass/style.scss:11
C:/Program Files/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:1166:in `expected'
C:/Program Files/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:1101:in `expected'
C:/Program Files/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:1096:in `tok!'
C:/Program Files/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:641:in `block'
C:/Program Files/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:635:in `ruleset'
C:/Program Files/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:660:in `block_child'
C:/Program Files/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:650:in `block_contents'
C:/Program Files/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:117:in `stylesheet'
C:/Program Files/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:42:in `parse'
C:/Program Files/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/engine.rb:393:in `_to_tree'
C:/Program Files/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/engine.rb:268:in `render'
C:/Program Files/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
org/jruby/RubyMethod.java:128:in `call'
file:/C:/Program Files/compass.app/compass-app.jar!/hook/compass_patch.rb:108:in `update_stylesheet'
C:/Program Files/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/plugin/compiler.rb:215:in `update_stylesheets'
org/jruby/RubyArray.java:1613:in `each'
C:/Program Files/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
C:/Program Files/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
C:/Program Files/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/plugin/compiler.rb:328:in `watch'
org/jruby/RubyProc.java:271:in `call'
C:/Program Files/compass.app/lib/ruby/jruby/listen-1.3.1-patched/lib/listen/listener.rb:252:in `on_change'
C:/Program Files/compass.app/lib/ruby/jruby/listen-1.3.1-patched/lib/listen/listener.rb:290:in `initialize_adapter'
org/jruby/RubyProc.java:271:in `call'
C:/Program Files/compass.app/lib/ruby/jruby/listen-1.3.1-patched/lib/listen/adapters/polling.rb:48:in `poll_changed_directories'
C:/Program Files/compass.app/lib/ruby/jruby/listen-1.3.1-patched/lib/listen/adapter.rb:297:in `start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...er-master.scss\"\": expected \"{\", was \";\"\A         on line 11 of D:/KP/2017/MOTOROLA/CHANNEL/HTML/sass/style.scss\A \A 6: 			START DATE: 15/09/2017\A 7: /*****************************************************************\A 8: ******************************************************************\A 9: *****************************************************************/\A 10: \A 11: @import \"helper/_helper-master.scss\";\A 12: @import \"base/_base-master.scss\";\A 13: @import \"component/_component-master.scss\";\A 14: @import \"external/_external-master.scss\";"; }
