body{
	min-width: 1024px;
	font-family: $brand-font;
	font-size: $font-default;
	line-height: $line-height;
	color: $color-primary;
	font-weight: $font-regular;
	background: $color-grey-extralight;
	@extend .margin-none;
	@extend .padding-none;
}
.header-wrapper {
	@extend .padding-top-1x;
	@extend .padding-bottom-1x;
	min-height: 70px;
	background: $color-secondary;
	border-bottom: solid 1px #e9e9e9;
}
.sidebar-wrapper{
	background: $color-secondary;
	position: relative;
	/*Refer z-index*/
}
.main-content{
	@extend .padding-1x;
}