/*----------------------------------------
Slimscroll
----------------------------------------*/
.slimScrollDiv{
    height: auto !important;
    max-height: 400px !important;
    .slimScroll{
        height: auto !important;
        max-height: 400px !important;
    }
}