/*----------------------------------------
Slimscroll
----------------------------------------*/
.timeline-level-1 {
    .slimScrollDiv {
        height: auto !important;
        max-height: 55vh !important;
        .slimScroll-timeline {
            height: auto !important;
            max-height: 55vh !important;
        }
    }
}