/*----------------------------------------
Slimscroll
----------------------------------------*/
.timeline-level-1 {
    .slimScrollDiv {
        height: auto !important;
        max-height: 50vh !important;
        .slimScroll-timeline {
            height: auto !important;
            max-height: 50vh !important;
        }
    }
}
/*global scroll*/
body{
    overflow: scroll;
}
body::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    border-radius: 3px;
    background: #eee;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #888;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(100,100,100,0.4); 
}