/*********************************************
----------------------------------------------
----------------------------------------------
1. General button styles with effect
2. Button Shape/Border Radius definition
3. Button BgColor/Text/Border definition
----------------------------------------------
----------------------------------------------
*********************************************/


/*---------------------------------------------
1. GENERAL BUTTON STYLES + WAVE EFFECT
---------------------------------------------*/

.btn {
	padding: ($padding-default)-10 $padding-default;
	@include border-radius($border-radius-default);
	/*Wave Effect styles*/
	position: relative;
	cursor: pointer;
	display: inline-block;
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	vertical-align: middle;
	z-index: 1;
	will-change: opacity, transform;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	.waves-ripple {
		position: absolute;
		border-radius: 50%;
		width: 20px;
		height: 20px;
		margin-top: -10px;
		margin-left: -10px;
		opacity: 0;
		background: rgba(0, 0, 0, 0.1);
		-webkit-transition: all 0.7s ease-out;
		-moz-transition: all 0.7s ease-out;
		-o-transition: all 0.7s ease-out;
		-ms-transition: all 0.7s ease-out;
		transition: all 0.7s ease-out;
		-webkit-transition-property: -webkit-transform, opacity;
		-moz-transition-property: -moz-transform, opacity;
		-o-transition-property: -o-transform, opacity;
		transition-property: transform, opacity;
		-webkit-transform: scale(0);
		-moz-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
		pointer-events: none;
	}
	.waves-light {
		.waves-ripple {
			background-color: rgba(255, 255, 255, 0.45);
		}
	}
	.waves-notransition {
		-webkit-transition: none !important;
		-moz-transition: none !important;
		-o-transition: none !important;
		-ms-transition: none !important;
		transition: none !important;
	}
	.waves-circle {
		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
		-ms-transform: translateZ(0);
		-o-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
	}
}

/*---------------------------------------------
***********************************************
---------------------------------------------*/


/*---------------------------------------------
2. BUTTON SHAPE DEFINITION - SQUARE/ROUNDED/CIRCLE
---------------------------------------------*/

.btn-squared {
	@include border-radius(0);
}
.btn-rounded {
	@include border-radius(8*$border-radius-default);
}
.btn-circle {
	width: $btn-size-default;
	height: $btn-size-default;
	@include border-radius(50%);
	border: none 0px;
}

/*---------------------------------------------
***********************************************
---------------------------------------------*/


/*---------------------------------------------
3. BUTTON BACKGROUND/TEXT/BORDER COLORS
Mixin Format: ($btn-bg, $btn-border, $btn-text)
---------------------------------------------*/

.btn-primary {
	@include button-color($color-brand, $color-brand, $color-secondary);
}
.btn-secondary {
	background: $color-grey-light;
	border-color: $color-brand;
	@include button-color($color-grey-light, $color-grey-light, $color-primary);
}

/*---------------------------------------------
***********************************************
---------------------------------------------*/