.modal-backdrop {
    background: $color-secondary;
}
.modal-backdrop.in{
    opacity: .85;
}
body.modal-open{
    padding-right: 0px !important;
}
.modal.fade.in{
    padding-right: 0px !important;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.modal-dialog {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 90%;
    .modal-header {
        padding: 0;
        border: 0px;
        .modal-title {
            display: inline-block;
            color: $color-secondary;
            background: $color-brand;
            padding: $padding-default $padding-default *2;
            &:before {
                background: $color-brand;
                content: '';
            }
        }
        .close {
            margin-right: $padding-default/1.5;
            margin-top: $padding-default/10;
            font-size: $font-default +22;
            font-weight: $font-regular;
        }
    }
    .modal-content {
        border: none 0px;
        border-radius: 0;
        @include box-shadow($top: 0, $left:0, $blur:30px, $color:rgba(0, 0, 0, .1));
    }
    .modal-footer{
        text-align: left;
        padding : $padding-default *2;
        border: 0;
    }
    .modal-body{
        padding-bottom: $padding-default *2;
    }
}
