.table-grid-default {
	&.modal-grid{
		max-height: 200px;
		overflow: auto;
	}
	.table {
		margin-bottom: 0;
		thead {
			background: $color-grey-medium;
			> tr > th {
				font-weight: $font-regular;
			}
		}
		tbody{
			.table-row-actions {
				text-align: center;
				i {
					padding: 0 $padding-default/3;
					cursor: pointer;
				}
				i:hover {
					color: $color-primary;
				}
			}
		}
	}
}