################################################################################
# This .gitignore file was to ignore css commit.
################################################################################


/css/*.css
/.sass-cache
