/*----------------------------------------
Calendar
----------------------------------------*/
.calendar-timeline {
    background: $color-secondary;
    border: 1px solid $color-grey-border;
    @include border-radius();
    text-align: center;
    .head {
        padding: $padding-default / 3;
        border-bottom: 1px solid $color-grey-border;
        display: table;
        width: 100%;
        .left {
            float: left;
        }
        .right {
            float: right;
        }
        label {
            display: inline-block;
            text-align: center;
            font-size: $font-default + 2;
            font-weight: $font-bold;
            line-height: 27px;
        }
        .btn {
            font-size: $font-default * 2;
            padding: 0 $padding-default /1.5;
            line-height: 1;
        }
    }
    .body {
        padding: $padding-default / 2 0;
        text-align: center;
        color: $color-brand;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        >.column {
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
//            border: 1px dashed;
        }
    }
}