.timeline-head{
    padding-top: $padding-default;
    padding-bottom: $padding-default;
    h2{
        text-transform: uppercase;
        color: $color-brand;
        i{
            margin-right: $padding-default;
            font-size: $font-default + 8;
        }
    }
}
