/*----------------------------------------
Timeline
----------------------------------------*/

.timeline-wrapper {
    padding: $padding-default;
    .head {
        border: 1px solid $color-grey-border;
        border-top: 0;
        padding: $padding-default *2 0;
        .heading-default {
            margin: 0;
            color: $color-brand;
        }
        .timeline-column-1 {
            text-align: left;
            margin-left: $padding-default;
            h2 {
                line-height: 45px;
            }
        }
        .timeline-column-2 {
            text-align: center;
        }
        .timeline-column-3 {
            text-align: center;
        }
        .timeline-column-4 {
            text-align: center;
            margin-right: $padding-default;
            line-height: 45px;
            .btn {
                background: $color-brand;
                min-width: 44px;
                position: relative;
                .fa {
                    color: $color-secondary;
                    font-size: $font-default +8;
                    line-height: 24px;
                }
                &.collapsed {
                    @include button-color($color-grey-medium, $color-primary);
                    .fa-angle-up {
                        display: none;
                    }
                    .fa-angle-down {
                        display: block;
                    }
                }
                .fa-angle-down {
                    display: none;
                }
                .fa-angle-up {
                    display: block;
                }
            }
            .dropdown {
                display: inline-block;
            }
        }
        .calendar-timeline {
            border: 0;
            background: none;
            .body {
                padding: 0;
            }
        }
    }
    .item-count {
        border: 1px solid $color-grey-border;
        @include border-radius(100px);
        display: inline-block;
        line-height: 43px;
        min-width: 45px;
        padding: 0 $padding-default /1.5;
        color: $color-primary;
    }
    .timeline-level-1 {
        >.timeline {
            background: $color-secondary;
            @include box-shadow();
            &.panel{
                margin-bottom: $padding-default;
            }
        }
    }
    /*Timeline level 2*/
    .timeline-level-2 {
        .head {
            padding: $padding-default/1.5 0;
        }
    }
    /*Timeline head color*/
    .timeline {
        position: relative;
        border: 0;
        border-radius: 0;
        &:before {
            position: absolute;
            content: '';
            height: 100%;
            width: 5px;
            left: 0px;
        }
        &.panel{
            margin-bottom: 0;
        }
        &.open {
            .head .heading-default {
                color: $color-primary;
            }
        }
        .timeline {
            background: $color-grey-light;
            &:before {
                background: $color-grey-dark;
            }
            .timeline {
                background: $color-grey-extralight;
                &:before {
                    background: $color-grey-medium;
                }
                .timeline {
                    background: $color-secondary;
                    &:before {
                        background: $color-brand;
                    }
                }
            }
        }
    }
}