.ellipsis{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/********************************************************
********************************************************/

.margin-none{
	margin: 0;
}

.padding-none{
	padding: 0;
}

.padding-1x{
	padding: $padding-default;
}
.padding-2x{
	padding: 2*$padding-default;
}
.padding-3x{
	padding: 3*$padding-default;
}

/*-------------------------------------*/
.padding-left-none{
	padding-left: 0;
}
.padding-left-1x{
	padding-left: $padding-default;
}
.padding-left-2x{
	padding-left: 2*$padding-default;
}
.padding-left-3x{
	padding-left: 3*$padding-default;
}
/*-------------------------------------*/
.padding-right-none{
	padding-right: 0;
}
.padding-right-1x{
	padding-right: $padding-default;
}
.padding-right-2x{
	padding-right: 2*$padding-default;
}
.padding-right-3x{
	padding-right: 3*$padding-default;
}
/*-------------------------------------*/
.padding-top-none{
	padding-top: 0;
}
.padding-top-1x{
	padding-top: $padding-default;
}
.padding-top-2x{
	padding-top: 2*$padding-default;
}
.padding-top-3x{
	padding-top: 3*$padding-default;
}
/*-------------------------------------*/
.padding-bottom-none{
	padding-bottom: 0;
}
.padding-bottom-1x{
	padding-bottom: $padding-default;
}
.padding-bottom-2x{
	padding-bottom: 2*$padding-default;
}
.padding-bottom-3x{
	padding-bottom: 3*$padding-default;
}
/*--------------------------------------*/
.form-inline{
	display: inline-block;
}