/*1. FONT FAMILY & SIZES - DEFAULTM, HEADING ETC. 
2. SPACING
3. 
*/

/************************/
$brand-font: 'Source Sans Pro', sans-serif;

$font-default: 14px;

$heading-one: 3*$font-default;
$heading-two: 2*$font-default;
$heading-three: 1.5*$font-default;

$font-black: 900;
$font-bold: 700;
$font-semibold: 600;
$font-regular: 400;
$font-light: 300;
$font-extralight: 200;

$font-italic: italic;

$line-height: 1.3;

$text-indent: 10px;


/************************/



$padding-default: 15px;
$margin-default: 15px;


/************************/


$color-brand: rgb(74, 197, 223); 	//4ac5df
$color-brand-light: lighten($color-brand, 95%); 	//c7edf5
$color-brand-border: lighten($color-brand, 80%); 	//c9c9c9

/*******************/

$color-primary: #0a0c0d;
$color-secondary: rgb(255, 255, 255); 	//fff

/*******************/

$color-grey-extradark: lighten($color-primary, 40%);
$color-grey-dark: lighten($color-primary, 60%);
$color-grey-medium: lighten($color-primary, 80%);
$color-grey-light: lighten($color-primary, 90%);
$color-grey-extralight: lighten($color-primary, 95%);

$color-grey-extradark: #c1c1c1;
$color-grey-dark: #dedfe0;
$color-grey-medium: #e0e0e0;
$color-grey-light: #f1f1f1;
$color-grey-extralight: #f4f4f4;

$color-grey-border: $color-grey-light;


$icon-grey: #747474; 	//747474
$icon-blue: $color-brand; 	//4ac5df
$icon-white: $color-secondary; 	//fff
$icon-black: $color-primary; 	//000


/*******************/

$border-radius-default: 4px;


$btn-size-default: 4em;



