.smooth-gradient{
	background: linear-gradient(91deg, $color-grey-light, $color-secondary);
	background-size: 400% 400%;
	-webkit-animation: smooth-gradient 7s ease infinite;
	-moz-animation: smooth-gradient 7s ease infinite;
	-o-animation: smooth-gradient 7s ease infinite;
	animation: smooth-gradient 7s ease infinite;
}
@mixin transition($property : all, $time : .3s, $function : ease-in) {
    -webkit-transition: $property $time $function;
    -moz-transition: $property $time $function;
    -ms-transition: $property $time $function;
    -o-transition: $property $time $function;
    transition: $property $time $function;
}