@mixin button-color($btn-bg, $btn-border, $btn-text) {
	background: $btn-bg;
	border-color: $btn-border;
	color: $btn-text;
	-webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
	&:hover, &:active{
		background: darken($btn-bg, 10%) !important;
		border-color: darken($btn-border, 10%) !important;
	}
	&:focus{
		background: $btn-bg !important;
		border-color: $btn-bg !important;
	}
	i{
		color: $btn-text;
	}
}