@mixin button-color($btn-bg, $btn-text) {
	background: $btn-bg;
	border:none 0px;
	color: $btn-text;
	-webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
	&:hover, &:active{
		background: darken($btn-bg, 10%) !important;
        color: $btn-text;
	}
	&:focus{
//		background: $btn-bg !important;
	}
	i{
		color: $btn-text;
	}
}