.filter-sidebar{
	@extend .padding-1x;
	.filter-section{
		padding-bottom: $padding-default+10;
		border-bottom: solid 1px $color-brand-border;
		.filter-label{
			display: block;
			padding-bottom: ($padding-default)-5;
		}
		.chips{
			margin-bottom: $padding-default;
		}
		/*.condition-wrapper{
			max-height: 140px;
			overflow-y: auto;
		}*/
	}
}