.form-control {
	box-shadow: none;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid $color-grey-dark;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: $padding-default *2;
    font-size: $font-default;
    &:active,
    &:focus,{
        border-bottom: 2px solid $color-brand;
        box-shadow: none;
    }
}